flask
flask-cors
pymilvus
sentence-transformers
google-generativeai
protobuf
numpy
scipy
torch
transformers
PyMuPDF
pytesseract
Pillow
PyPDF2
httpx
pandas
tqdm
nltk
bert-score
scikit-learn
langchain
langchain-community
langchain-core
setuptools<82
beautifulsoup4
gunicorn
